header {
   background-color: rgba(70, 208, 218, 0.911);
   height: auto;
   top: 0;
   width: 100%;
   position: fixed;
   z-index: 999;
   padding: 10px;
}
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
   .logo {
      margin: 10px;
      font-size: x-large;
      color: rgb(235, 235, 235);
   }
   nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: rgba(70, 208, 218, 0.911);
      transition: 1s;
      transform: translateY(-100vh);
      ul {
         display: flex; 
         flex-direction: column;
         align-items: center;
         padding: 0; 
         gap: 30px;
         li {
            list-style: none;
            font-size: x-large;
            font-weight: 600;
            .hover {
               color: rgb(235, 235, 235);
               text-transform: uppercase;
               display: inline-block;
               text-decoration: none;
            }
         }
      }
      .btn-close {
         position: absolute;
         top: 2rem;
         right: 2rem;
      }
   }
   .btn-nav {
      color: rgb(235, 235, 235);
      padding: 10px;
      background-color: transparent;
      border: none;
      font-size: larger;
      cursor: pointer;
      outline: none;
      visibility: visible;
      opacity: 1;
   }
   .responsive-nav {
      transform: none;
   }
}

@media (min-width:992px) {
   header.active {
      background-color: rgba(0, 0, 0, 0.521);
      backdrop-filter: blur(1px);
   }
   header {
      background-color: transparent;
      transition: all 1s;
   }
   .header {
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      .logo {
         text-decoration: none;
         font-size: 2rem;
         color: $color-primary;
         text-transform: uppercase;
         font-weight: 700;
      }
      .btn-nav {
         display: none;
         visibility: hidden;
         opacity: 0;
      }
      nav {
         position: initial;
         top: auto;
         left: auto;
         height: auto;
         width: auto;
         gap: 1.5rem;
         background-color: transparent;
         transition: 1s;
         transform: none;
         ul {
            flex-direction: row;
            align-items: center;
            padding: 0; 
            li {
               font-size: large;
               .hover {color: $color-primary;}
               .hover:after {
                  display:block;
                  content: '';
                  border-bottom: solid 3px $color-primary;  
                  transform: scaleX(0);  
                  transition: transform 250ms ease-in-out;
               }
               .hover:hover:after{
                     transform: scale(1);
                  }
               .hover.active {
                  display: inline-block;
                  border-bottom: solid 3px $color-primary;
               }
            }
         }
      }
   }
}

@media (min-width:1200px) {
   header {height: auto;}
   .header {
      
      padding: 10px;
      justify-content:space-between;
      nav {
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;
      ul {
         display: flex;
         flex-direction: row;
         li {
            list-style: none;
            font-size: large;
            font-weight: 600;
         }
      }
   }
   }
   header.active {
      background-color: rgba(0, 0, 0, 0.521);
      backdrop-filter: blur(1px);
   }
}