.Error404 {
   padding: 20px;
   max-width: 1200px;
   display: flex;
   margin: 0 auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   h1 {
      margin-top: 200px;
   }
   button {
      margin-bottom: 200px;
      background-color: #019fb6;
      border: #019fb6 1px solid;
      padding: 10px 20px;
      transition: all 0.2s;
      a {
         color: black;
         text-decoration: none;
         font-weight: 600;
         font-size: x-large;
      }
      &:hover {
         background-color: #019eb670;
         border: 1px solid #019fb6;
      }
   }
}


.loader {
   padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
    height: 100%;
    gap: 5vh;
    h1 {
       font-size: 3rem;
       color: #019fb6;
       font-weight: bold;
    }
    p {
       margin-bottom: 100px;
    }
 }
 
 @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      max-width: 400px;
      margin: 0 auto;
    }
  }