// UI Settings
$color-primary: #019fb6;
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}
h1 {
   font-size: 4rem;
}
p {
   font-size: 1.2rem;
}
.max-content {
   max-width: 990px;
   margin: 0 auto;
}
@media (max-with: 576px) {
   .max-content {
      max-width: 576px;
      margin: 0;
   }
}

.go-to-top {
   transition: all 0.5s;
   position: fixed;
   background-color: #019fb6;
   bottom: 0;
   right: 0;
   padding: 10px;
   margin: 20px;
   font-size: 1.2rem;
   border: none;
   color: white;
   text-align: center;
   width: 50px;
}


// Components
@import '../components/Layout/Navbar/nav';
@import '../components/Layout/Footer/footer';

// Pages
@import '../components/Pages/Home/home';
@import '../components/Pages/Models/models';
@import '../components/Pages/About/about';
@import '../components/Pages/Contact/contact';
@import '../components/Pages/Models/components_models/description/description.scss';
// Props 
@import 'Carousel-Overlay.scss';
@import 'Loader-Error404.scss';
//Screens