// UI Settings
$color-primary: #019fb6;
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

.max-content {
   max-width: 990px;
   margin: 0 auto;
}
@media (max-with: 576px) {
   .max-content {
      max-width: 576px;
      margin: 0;
   }
}
// Components
@import '../components/Navbar/nav';
@import '../components/Footer/footer';

// Pages
@import '../pages/Home/home.scss';
@import '../pages/Products/product';
@import '../pages/About/about';
@import '../pages/Contact/contact';
// Props 
@import '../props/carousel.scss';

//Screens